.about {
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}
.address-container {
    grid-column: 2 / 4;
}
.address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    width: 100%;
    border-radius: 12px;
}
.information {
    padding-top: 2rem;
} 