.learn__css {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.learn__css img {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    margin-top: 47px;
    /* width: 300px;
    height: 300px; */
}
.learn__css__method {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}
@media (min-width: 1114px) {
    .learn__css {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .learn__css img {
        grid-row: 1 / 4;
        grid-column: 2 / 3;

    }
    .learn__css__method {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
    }
    .learn__css__instruction {
        width: 465px;
        height: 120px;
    }
}